/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("./iMAGES/jujutsu-kaisen-4k\ 1\ \(3\).jpg");
    background-size: cover;
    background-position: center;
    height: 98vh;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./iMAGES/jujutsu-kaisen-4k\ 1\ \(3\).jpg");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
} */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-container{
    display: flex;
    flex-direction: row;
    gap: 170px;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
     
}

h2{
    color: #ffffff;
}

p {
    margin-bottom: 20px;
    color: #ffffff;
}

.foot{
    margin-bottom: 0;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.about-image {
    flex: 0 0 45%;
    max-width: 45%;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
}

.about-image2 { /* New class for the second image */
    flex: 0 0 45%;
    max-width: 45%;
    text-align: right; /* Align the image to the right */
}

.about-image2 img {
    width: 100%;
    border-radius: 8px;
}

.about-content {
    flex: 0 0 50%;
    max-width: 50%;
}

.about-content h2 {
    margin-bottom: 10px;
}

.about-content p {
    margin-bottom: 20px;
}
ul{
    color: #ffffff;
    list-style-type: none;
}
.read-more {
    display: inline-block;
    background-color: rgb(192, 9, 9);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: rgb(0, 0, 0);
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px;
}
.navbar-logo{
    width: 125px;
    height: 100px;
}
.aa{
    text-decoration: none;
    color: #ffffff;
}
.aa:hover{
    color: rgb(192, 9, 9);
}
.detail{
    margin-left: 1.5em;
}